html, body {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
.navbar{
    background-color: #6695FF;
    align-items: center;
    
}
.starsvg{
    background-repeat: no-repeat;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.nav-link {
color : white !important;
display: inline-block;
text-align: center;

}
.navbar-nav{
    display: flex;
    margin-left:30px ;
}
.nav-link:hover{
    color: rgb(235, 235, 235)!important;
}

.btn-primary{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25))!important;
    background-color: #C5D7FF!important;
    color: black!important;
    border-radius: 11px;
    border: 0px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin-right: 30px;
}
h1{
    padding-top:100px;
    text-align: center;
    font-family: 'bebas neue';
    font-size: 50px;
}
.card-group{
    background-color: transparent!important;
}
.card{
    background-color: transparent;
    border: none;
    margin-top: 40px;
}
.card-img-top{
    padding: 0px 20px;
    border: none;
    max-width: 100%;
}

.btn-primary.dl{
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 10px 10px;
    background-color: #6695FF!important;
    display: none;
}
.card-img-top:hover + .btn-primary.dl, .btn-primary.dl:hover {
    display: inline-block;
}
