@import url("https://fonts.googleapis.com/css?family=Hind:400,700");
.navbar{
    background-color: #6695FF;
    align-items: center;
    
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.nav-link {
color : white !important;
display: inline-block;
text-align: center;

}
.navbar-nav{
    display: flex;
    margin-left:30px ;
}
.nav-link:hover{
    color: rgb(235, 235, 235)!important;
}

.btn-primary{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25))!important;
    background-color: #C5D7FF!important;
    color: black!important;
    border-radius: 11px;
    border: 0px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin-right: 30px;
}
h1{
    padding:100px;
    text-align: center;
    font-family: 'bebas neue';
    font-size: 50px;
}






html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h3 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}

.carousel-wrapper {
    position: relative;
    width: 70%;
    height: 70%;
    margin-top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }
.carousel-wrapper .carousel {
    top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.carousel-wrapper .carousel .carousel-cell {
    width: 20%;
    height: auto;
    min-width: 120px;
    margin: 0 20px;
    transition: transform 500ms ease;
  }

.carousel-control{
    color: #6695FF ;
}


.carousel-wrapper .carousel .carousel-cell.is-selected {
  transform: scale(1.2);
}


.carousel-wrapper .flickity-page-dots {
  display: none;
}
.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
  overflow: visible;
}

.btn-primary.car{
    padding: 2px 10px;
    background-color: #6695FF!important;
    color: white!important;
    float: right;
    margin-top: 260px;
}
.btn-primary.add{
    padding: 10px 30px;
    background-color: #6695FF!important;
    color: white!important;
    margin-left:50% ;
    margin-top: -20%;
}
.addsvg{
  max-width: 30%;
  margin-left: 20px;
}
.btn-primary.dl{
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 10px 10px;
  background-color: #6695FF!important;
  display: none;
}

.carousel-cell img:hover + .btn-primary.dl, .btn-primary.dl:hover{
  display: inline-block;
}