
body{
    margin: 0px;
    padding:0px;
}
.navbar{
    background-color: #6695FF;
    align-items: center;
    
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.nav-link {
color : white !important;
display: inline-block;
text-align: center;

}
.navbar-nav{
    display: flex;
    margin-left:30px ;
}
.nav-link:hover{
    color: rgb(235, 235, 235)!important;
}

.btn-primary{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25))!important;
    background-color: #C5D7FF!important;
    color: black!important;
    border-radius: 11px;
    border: 0px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin-right: 30px;
}
p{
    font-size: 20px;
}

.p1{
    margin-left: -50px;
    margin-right: 200px;
    margin-top: 230px;
}
.p2{
   margin-top: 50px;
   margin-right: 200px;
    
}
.lpsvg{
    margin-top: 30px;
    max-height: 100%;
    max-width: 100%;
}
h1{
    padding:100px;
    text-align: center;
    font-family: 'bebas neue';
    font-size: 50px;
}

.col-3 img{
    border-radius: 50%;
;
}   
.col-4{
    margin-top: 50px;
}
.col-4 img{
    
    border-radius: 50%;
  padding: 50px;
}
.potPartner{
    text-align: center;
}
.btn.potPartner {
    display: inline-block;
    background-color: transparent!important;
    font-family: 'poppins';
    font-size: 25px;
}
.lparrow{
    margin: -50px 49%;
    display: inline-block;
}
.lpfooter{
    background: #6695ff;
    padding: 0px;
}
.lpfooter p{
    font-family: 'poppins';
    display: inline-block;
    font-size: 25px;
}
.col-6.locindia{
    margin-top: 110px;
}