.navbar{
    background-color: #6695FF;
    align-items: center;
    
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.nav-link {
color : white !important;
display: inline-block;
text-align: center;

}
.navbar-nav{
    display: flex;
    margin-left:30px ;
}
.nav-link:hover{
    color: rgb(235, 235, 235)!important;
}

.btn-primary{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25))!important;
    background-color: #C5D7FF!important;
    color: black!important;
    border-radius: 11px;
    border: 0px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin-right: 30px;
}
h1{
    padding:100px;
    text-align: center;
    font-family: 'bebas neue';
    font-size: 50px;
}






html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: #6695FF;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
}
.uploadText p{
    padding: 15px 0;
    font-weight: 800px;
}